<h1>Login</h1>

<% if(typeof message !=="undefined" ){ %>
    <h4 style="color: red;">
        <%= message %>
    </h4>
    <% } %>

        <form method="post">
            <input type="email" name="email" placeholder="Enter Your Email" required>
            <br><br>
            <input type="password" name="password" placeholder="Enter Your Password" required>
            <br><br>
            <input type="submit" value="login" />
        </form>